/* Basic styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ededed; /* Light background */
}

.navbar {
    background-color: #081b41; /* Dark blue background */
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: #ededed; /* Light text color */
    font-size: 24px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    position: relative;
}

.nav-links a {
    color: #ededed; /* Light text color */
    text-decoration: none;
    padding: 10px 15px;
    display: block;
    transition: background-color 0.3s;
}

.nav-links a:hover {
    background-color: #1e3a70; /* Darker shade of blue */
}

/* Dropdown Menu */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #081b41; /* Dark blue background */
    min-width: 160px;
    z-index: 1;
}

.dropdown-content li {
    width: 100%;
}

.dropdown-content a {
    padding: 10px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Hamburger Menu */
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger span {
    background-color: #ededed; /* Light color for hamburger bars */
    height: 3px;
    width: 25px;
    margin: 4px 0;
    transition: 0.4s;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .nav-links {
        flex-direction: column;
        width: 100%;
        display: none;
    }

    .nav-links li {
        width: 100%;
    }

    .hamburger {
        display: flex;
    }

    .nav-links.active {
        display: flex;
    }
}
